.body{
	   background-color:beige;
}
.search{
	text-align:center;
	font-size:150%;
}
.adduser{
	text-align:center;
	font-size:150%;
}
.userList{
	text-align:center;
	font-size:150%;
}
.titletype{
	text-align:center;
}
.search{
	font-size:150%;
}
.input{
	font-size:120%;
}

